/*================================================*\
*  Author : BoyBangkhla
*  Created Date : 24/01/2015 09:09
*  Module : Style
*  Description : Backoffice Style sheet
*  Involve People : MangEak
*  Last Updated : 24/01/2015 09:09
\*================================================*/
@charset "utf-8";

.dt-buttons {
    float: right;
    margin-bottom: 5px;
}
div.dt-buttons {
    position: relative;
    float: right;
}
